/* CSS */

@font-face {
    font-family: "IBMPlexSans - Regular";
    src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: "URWbookMan - Light ";
    src: url("../fonts/URWBookman-Light.otf");
}

@font-face {
    font-family: "Raleway - Light";
    src: url("../fonts/Raleway-Light.ttf");
}

section.faq-part {
    background: linear-gradient(#E13834, #7B1E1E);
    width: 100%;
    padding: 100px 0px;
    transform: skew(0deg, 8deg) translateY(120px);
}

div.block-faq {
    padding: 20px;    
    transform: skew(0deg, -8deg);    
}

h1.title-faq {
    color: #EBEBEB;
    font-family: "Raleway - Light", sans-serif;
    font-size: 36px;
    padding: 30px 0px;
}

div.container-ask {
    display: flex;
    flex-direction: column;
    width: 100%
}

div.box-ask {
    color: #333333;    
    background: transparent;
    border: 2px solid #333333;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 20px 20px;
    transition: 0.3s ease-in-out;
    width: 50%;
}

div.box-ask:hover {
    border: 2px solid #EBEBEB;
    color: #EBEBEB;
}

p.text-ask {
    font-family: "Raleway - Light", sans-serif;
    font-size: 14px;    
    float: left;
}

p.list-ask {
    display: list-item;
    float: right;    
    list-style-type: circle;
}

@media (min-width: 300px) and (max-width: 670px) {
    div.box-ask {
        width: 80%;
        text-align: left;
        line-height: 1.25em;
    }

    p.text-ask {
        font-size: 12.5px;
    }

    p.list-ask {
        clear: right;
        display: none;
    }
    
}